.tag {
    display: flex;
    background-color: #FF6060;
    justify-content: center;
    color: white;
    border-radius: 10px;
    width: 100%;
    padding: 0  30px;
    height: 25px;
    margin: 5px;
    white-space: nowrap;
    font-size: 14px;
    align-items: center;
}