.locations {
    display: flex;
    width: 90%;
    height: 100%;
    background-color: #f6f6f6;
    color: red;
    border-radius: 25px;
}
body {
    margin: 0;
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeImg {
    object-fit: cover;
    height: 223px;
    width: 90%;
    border-radius: 25px;
    z-index: -1;
    filter: brightness(70%);
}

.homeTitle {
    color: white;
    font-size: 48px;
    position: relative;
    bottom: 180px;
    z-index: 99;
    margin-bottom: -20px;
}

