nav {
    display: flex;
    justify-content: right;
    color: #FF6060;
}

.header {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between; 
    width: 90%;
    padding-left: 5%;  
}

a:link {
    text-decoration: none;
    color: #FF6060;
    padding: 5px;
  }