.foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px 0;
    background-color: black;
    color: white;
    font-size: 24px;
}

.footerLogo {
    margin: 15px;
    height: 36px;
}

@media (max-width: 800px) {
    .foot {
        font-size: 12px;
    }
}
